
<mat-card class="example-card" style= "background-color:#f8f8ff">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>LoLImBetterThanYou</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            Compare your league of legends stats to another player! <br> Maybe you just want to see if you are better than that idiot who flamed you last game? <br>
            Maybe you want to compare your stats to challenger players? <br>
            Find out who YOU are better than
        </p>
    </mat-card-content>
</mat-card>
<hr>


<mat-card class="example-card" style= "background-color:#f8f8ff">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>FeaturedGames</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            This is a work in progress
        </p>
    </mat-card-content>
 
</mat-card>