<app-nav></app-nav>
<div *ngIf="error" class = "errormessage">
    ERROR: that username is already taken

</div>
<div class = box>
    <div class = 'user'>
        Username
    </div>
    <div class = 'pass'>
        Password
    </div>
    <form>
        <input class='textbox1' [(ngModel)]='user' name='user'>
    </form>
    <form>
        <input class='textbox2' [(ngModel)]='pass' name='pass'>
    </form>
    <button class = 'loginbutton'  (click)='login()'> Login</button>
    <button class = signin  (click)='makeuser()'> Don't have an account? Sign up</button>
</div>
