<div class='createpost'>
    <button class="postbutton" [routerLink]='["../createpost"]'>
        <div>Create a Post</div>
    </button>

</div>
<div class='contain'>
    <div *ngFor="let post of posts">
        <div class = postcard>
            <div class = vote>
                <div class= counter>
                    {{post.counter}}

                </div>
                <button class = 'upvote' (click)=upvote(post.id)>+</button>
                <button class = 'downvote'(click)=downvote(post.id)>-</button>
                    

            </div>
            <div class = post>
                <div class = title> {{post.title}}</div>
                <div class = body> {{post.body}}</div>
            </div>

        </div>

    </div>


</div>