<app-nav></app-nav>
<div class='createpost'>
    <button class="postbutton" [routerLink]='["../createpost"]'>
        <div>Create a Post</div>
    </button>

</div>
<div class='contain'>
    <div *ngFor="let post of posts">
        <div class=postcard>
            <div class=vote>
                <div class=counter>
                    {{post.vote}}

                </div>
                <button class='upvote' (click)=upvote(post.postid)>+</button>
                <button class='downvote' (click)=downvote(post.postid)>-</button>
        

            </div>
            <div class=post>
                <div class=mainpost>
                    <div class=title> {{post.title}}</div>
                    <div class=body> {{post.body}}</div>
                </div>
                <div class = postedby>
                    Posted by: {{post.username}}
                </div>
            </div>

        </div>

    </div>


</div>