<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="teal">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">LoLImBetterThanYou</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/summonersearch" routerLinkActive="active">SS</a></li>
        <li><a href="badges.html">Components</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  
<router-outlet></router-outlet>
 





