<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="teal">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">LeagueTools</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/summonersearch" routerLinkActive="active">LoLImBetterThanYou</a></li>
        <li><a routerLink="/featuredgames">Featured Games</a></li>
      
      </ul>
    </div>
  </nav>
  
<router-outlet></router-outlet>
 

<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->
<!-- <h6 style = "position: absolute; left: 2%; bottom: 5%">LoLImBetterThanYou isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
    or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
    trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</h6> -->










