<!-- <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="teal">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">LeagueTools</a>
        <ul class="left hide-on-med-and-down">
            <li><a routerLink="/summonersearch" routerLinkActive="active">LoLImBetterThanYou</a></li>
            <li><a routerLink="/featuredgames">Featured Games</a></li>

        </ul>
    </div>
</nav>

-->

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div class='navbar'>
    <div class='titlebox' (click)="mainnav()">
        <div class='title'>League Tools</div>
    </div>
    <!-- <button class='LoLtab'>
    <div class='LoLtext'>LoLIBTY </div>
</button> -->
    <span style="font-size:5vmin;cursor:pointer;margin-left:1vw;" (click)="openNav()">&#9776;</span>
</div>
<div id="main">
    <router-outlet></router-outlet>
</div>

<!-- <h6 style = "position: absolute; left: 2%; bottom: 5%">LoLImBetterThanYou isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games
    or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
    trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</h6> -->