<div *ngIf="base">


    <div class='contain'>
        <div class='LoLtitlebox'>
            <div class='LoLtitle'>
                LoLImBetterThanYou
            </div>
        </div>
        <div class='filler'>


        </div>

        <div class='flexbox'>
            <div class="card1">
                <p>Summoner 1</p>
                <form>
                    <input id='textarea1' class='textbox' [ngModel]='P1summonername' name='summ1'>
                </form>
            </div>
            <div class="card2">
                <p>Summoner 2</p>
                <form>
                    <input id='textarea2' class='textbox' [ngModel]='P2summonername' name='summ2'>
                </form>
            </div>
        </div>
        <button class="cardbutton" (click)='search()'>
            <span>Find Out Who Is Better! </span>
        </button>
    </div>


</div>

<div *ngIf="loading">
    <div class="loader" style="position: absolute; top: 20%; left:45%">
        <p>LOADING</p>
    </div>
    <p style="position: absolute; top: 30%; left:30%">LOADING.....</p>
</div>