<br>
<br>
<br>
<div *ngIf="base">
 

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Type your summoner name below
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea"></textarea>
                        <label for="textarea1">Type another's summoner name below
                        </label>
                    </div>
                </div>
            </form>
        </div>
    <button (click)="search()" class="btn" data-position="bottom" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</div>

<div *ngIf="loading">
    <div class="loader" style = "position: absolute; top: 20%; left:45%">
        <p>LOADING</p>
    </div>
    <p style = "position: absolute; top: 30%; left:30%">LOADING.....</p>
</div>