
<div>
    <div>
        <h5 class="center-align">Are you better than Summonpwner?? Probably Not</h5>
    </div>
    
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Type your summoner name below
                    </label>
                </div>
            </div>
        </form>
    </div>
        
    <button (click) = "search()" class="btn" data-position="bottom"  type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</div>


