<div class="row">
    <div class="col s12">
        <h1 style="text-align:center">STATS:</h1>
    </div>
    <hr>
    <div class="col s6">
        <h3 style="text-align:center">summonpwner</h3>
    </div>
    <div class="col s6">
        <h3 style="text-align:center">{{summonername}}</h3>
    </div>


    <hr>

    <div class="col s6">
        <br>
        <br>
        <img *ngIf="iron" class=picCenter src="assets/Emblem_Iron.png">
        <img *ngIf="bronze" class=picCenter src="assets/Emblem_Brozne.png">
        <img *ngIf="silver" class=picCenter src="assets/Emblem_Silver.png">
        <img *ngIf="gold" class=picCenter src="assets/Emblem_Gold.png">
        <img *ngIf="plat" class=picCenter src="assets/Emblem_Platinum.png">
        <img *ngIf="diamond" class=picCenter src="assets/Emblem_Diamond.png">
        <img *ngIf="master" class=picCenter src="assets/Emblem_Master.png">
        <img *ngIf="grandmaster" class=picCenter src="assets/Emblem_Grandmaster.png">
        <img *ngIf="challenger" class=picCenter src="assets/Emblem_Challenger.png">
        <br>
        <br>
        <h4 style="text-align:center">{{summonpwnertier}} {{summonpwnerrank}}</h4>
        <hr>
        <br>
        <br>
        <br>
        <h4 >Best Champion: {{SPbestchamp}}</h4>
        <h4>Mastery: {{SPbestchampmastery}}</h4>
        <br>
        <br>
        <h4>Total Mastery: {{SPtotalmastery}}</h4>
        <br>
        <br>
        <h4>win-loss ratio: {{ratio}}%</h4>


    </div>
    <div class="col s6">
        <br>
        <br>
        <img *ngIf="oppiron" class=picCenter src="assets/Emblem_Iron.png">
        <img *ngIf="oppbronze" class=picCenter src="assets/Emblem_Brozne.png">
        <img *ngIf="oppsilver" class=picCenter src="assets/Emblem_Silver.png">
        <img *ngIf="oppgold" class=picCenter src="assets/Emblem_Gold.png">
        <img *ngIf="oppplat" class=picCenter src="assets/Emblem_Platinum.png">
        <img *ngIf="oppdiamond" class=picCenter src="assets/Emblem_Diamond.png">
        <img *ngIf="oppmaster" class=picCenter src="assets/Emblem_Master.png">
        <img *ngIf="oppgrandmaster" class=picCenter src="assets/Emblem_Grandmaster.png">
        <img *ngIf="oppchallenger" class=picCenter src="assets/Emblem_Challenger.png">
        <br>
        <br>
        <h4 style="text-align:center">{{opponenttier}} {{opprank}}</h4>
        <hr>
        <br>
        <br>
        <br>
        <h4 >Best Champion: {{oppbestchamp}}</h4>
        <h4>Mastery: {{oppbestchampmastery}}</h4>
        <br>
        <br>
        <h4>Total Mastery: {{opptotalmastery}}</h4>
        <br>
        <br>
        <h4>win-loss ratio: {{oppratio}}%</h4>
        <br>
        <br>
        <h4>K/D/A: {{oppkills}}/{{oppdeaths}}/{{oppassists}}</h4>
        <h4>damage {{opptotaldamage}}</h4>

    </div>
    <div class="vr">&nbsp;</div>


</div>



<!-- <div *ngIf="resultsobtained" class="valign-wrapper">
        <h5>The WINNER IS: {{winner}}</h5>
        
</div>
<div *ngIf = "summonwins" class="valign-wrapper">
    <h5> YOUR {{champion}} IS TRASH heheXD </h5>        
</div>
<div *ngIf = "opponentwins" class="valign-wrapper">
    <h5> REEEEEEEEEEEEE how is your {{champion}} better than my WUKONG </h5>        
</div> -->