.vr { 
    border-left: 3px solid gray; 
    height: 2800px; 
    position:absolute; 
    left: 50%;
    top: 19%; 

} 

.picCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
  }