<div style>
    <br>
    <br>
    <br>
    <br>
    <mat-tab-group animationDuration="300ms" mat-align-tabs="center">


        <mat-tab label="Summary">


            <div class="row card-panel teal lighten-5">
                <div class="col s12">
                    <h2 style="text-align:center">Summary</h2>
                </div>
                <hr>



                <div class="col s6 card-panel teal lighten-2">
                    <h3 style="text-align:center">{{P1summonername}}</h3>
                </div>
                <div class="col s6 card-panel teal lighten-2">
                    <h3 style="text-align:center">{{P2summonername}}</h3>
                </div>



                <hr>

                <div class="col s6 card-panel teal lighten-5">
                    <br>
                    <br>
                    <img *ngIf="P1iron" class=picCenter src="assets/Emblem_Iron.png">
                    <img *ngIf="P1bronze" class=picCenter src="assets/Emblem_Brozne.png">
                    <img *ngIf="P1silver" class=picCenter src="assets/Emblem_Silver.png">
                    <img *ngIf="P1gold" class=picCenter src="assets/Emblem_Gold.png">
                    <img *ngIf="P1plat" class=picCenter src="assets/Emblem_Platinum.png">
                    <img *ngIf="P1diamond" class=picCenter src="assets/Emblem_Diamond.png">
                    <img *ngIf="P1master" class=picCenter src="assets/Emblem_Master.png">
                    <img *ngIf="P1grandmaster" class=picCenter src="assets/Emblem_Grandmaster.png">
                    <img *ngIf="P1challenger" class=picCenter src="assets/Emblem_Challenger.png">
                    <br>
                    <br>
                    <h5 style="text-align:center">{{P1tier}} {{P1rank}}</h5>
                    <hr>
                    <br>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Basics:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Win-Loss Ratio:

                        </div>

                        <div class="column2">
                            {{P1ratio}}%

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">

                            K/D/A:
                        </div>

                        <div class="column2">
                            {{P1kills}}/{{P1deaths}}/{{P1assists}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Damage:
                        </div>

                        <div class="column2">
                            {{P1totaldamage}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Champion Mastery:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Best Champion:
                        </div>

                        <div class="column2">
                            {{P1bestchamp}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Best Champion Mastery:
                        </div>

                        <div class="column2">
                            {{P1bestchampmastery}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Total Champion Mastery:
                        </div>

                        <div class="column2">
                            {{P1totalmastery}}

                        </div>
                    </div>


                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Income:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Creep Score:
                        </div>

                        <div class="column2">
                            {{P1cs}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Per Min 0-10:
                        </div>

                        <div class="column2">
                            {{P1creepP1ermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P1creepP1ermin20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Gold Per Min 0-10
                        </div>

                        <div class="column2">
                            {{P1goldpermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Gold Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P1goldpermin20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Per Min 0-10:
                        </div>

                        <div class="column2">
                            {{P1xppermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P1xppermin20}}

                        </div>
                    </div>
                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Vision:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Vision Score:
                        </div>

                        <div class="column2">
                            {{P1vs}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Vision Wards Bought:
                        </div>

                        <div class="column2">
                            {{P1visionwards}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Objective Pressure:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Objective Damage:
                        </div>

                        <div class="column2">
                            {{P1objdamage}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Turret Damage:
                        </div>

                        <div class="column2">
                            {{P1turretdamage}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Turret Kills:
                        </div>

                        <div class="column2">
                            {{P1turretkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Inhibitor Kills:
                        </div>

                        <div class="column2">
                            {{P1inhibkills}}

                        </div>
                    </div>

                    <div class="row2">
                        <div class="column2">
                            Average Dragon Kills:
                        </div>

                        <div class="column2">
                            {{P1dragonkills}}

                        </div>
                    </div>

                    <div class="row2">
                        <div class="column2">
                            Average Dragon Kills:
                        </div>

                        <div class="column2">
                            {{P1dragonkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Baron Kills:
                        </div>

                        <div class="column2">
                            {{P1baronkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Rift Kills:
                        </div>

                        <div class="column2">
                            {{P1riftkills}}

                        </div>
                    </div>


                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Difference:</h4>
                    <hr>

                    <div class="row2">
                        <div class="column2">
                            CS Difference 0-10:
                        </div>

                        <div class="column2">
                            {{P1csdiff10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Difference 10-20:
                        </div>

                        <div class="column2">
                            {{P1csdiff20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Difference 0-10:
                        </div>

                        <div class="column2">
                            {{P1xpdiffpermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Difference 10-20:
                        </div>

                        <div class="column2">
                            {{P1xpdiffpermin20}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Style Points:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Killing Spree:
                        </div>

                        <div class="column2">
                            {{P1killingspree}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Multikill:
                        </div>

                        <div class="column2">
                            {{P1multikill}}

                        </div>
                    </div>



















































                </div>
                <div class="col s6 card-panel teal lighten-5">
                    <br>
                    <br>
                    <img *ngIf="P2iron" class=picCenter src="assets/Emblem_Iron.png">
                    <img *ngIf="P2bronze" class=picCenter src="assets/Emblem_Brozne.png">
                    <img *ngIf="P2silver" class=picCenter src="assets/Emblem_Silver.png">
                    <img *ngIf="P2gold" class=picCenter src="assets/Emblem_Gold.png">
                    <img *ngIf="P2plat" class=picCenter src="assets/Emblem_Platinum.png">
                    <img *ngIf="P2diamond" class=picCenter src="assets/Emblem_Diamond.png">
                    <img *ngIf="P2master" class=picCenter src="assets/Emblem_Master.png">
                    <img *ngIf="P2grandmaster" class=picCenter src="assets/Emblem_Grandmaster.png">
                    <img *ngIf="P2challenger" class=picCenter src="assets/Emblem_Challenger.png">
                    <br>
                    <br>
                    <h5 style="text-align:center">{{P2tier}} {{P2rank}}</h5>
                    <hr>
                    <br>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Basics:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Win-Loss Ratio:

                        </div>

                        <div class="column2">
                            {{P2ratio}}%

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">

                            K/D/A:
                        </div>

                        <div class="column2">
                            {{P2kills}}/{{P2deaths}}/{{P2assists}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Damage:
                        </div>

                        <div class="column2">
                            {{P2totaldamage}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Champion Mastery:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Best Champion:
                        </div>

                        <div class="column2">
                            {{P2bestchamp}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Best Champion Mastery:
                        </div>

                        <div class="column2">
                            {{P2bestchampmastery}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Total Champion Mastery:
                        </div>

                        <div class="column2">
                            {{P2totalmastery}}

                        </div>
                    </div>


                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Income:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Creep Score:
                        </div>

                        <div class="column2">
                            {{P2cs}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Per Min 0-10:
                        </div>

                        <div class="column2">
                            {{P2creepspermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P2creepspermin20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Gold Per Min 0-10
                        </div>

                        <div class="column2">
                            {{P2goldpermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Gold Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P2goldpermin20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Per Min 0-10:
                        </div>

                        <div class="column2">
                            {{P2xppermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Per Min 10-20:
                        </div>

                        <div class="column2">
                            {{P2xppermin20}}

                        </div>
                    </div>
                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Vision:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Vision Score:
                        </div>

                        <div class="column2">
                            {{P2vs}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Vision Wards Bought:
                        </div>

                        <div class="column2">
                            {{P2visionwards}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Objective Pressure:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Objective Damage:
                        </div>

                        <div class="column2">
                            {{P2objdamage}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Turret Damage:
                        </div>

                        <div class="column2">
                            {{P2turretdamage}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Turret Kills:
                        </div>

                        <div class="column2">
                            {{P2turretkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Inhibitor Kills:
                        </div>

                        <div class="column2">
                            {{P2inhibkills}}

                        </div>
                    </div>

                    <div class="row2">
                        <div class="column2">
                            Average Dragon Kills:
                        </div>

                        <div class="column2">
                            {{P2dragonkills}}

                        </div>
                    </div>

                    <div class="row2">
                        <div class="column2">
                            Average Dragon Kills:
                        </div>

                        <div class="column2">
                            {{P2dragonkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Baron Kills:
                        </div>

                        <div class="column2">
                            {{P2baronkills}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Rift Kills:
                        </div>

                        <div class="column2">
                            {{P2riftkills}}

                        </div>
                    </div>


                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Difference:</h4>
                    <hr>

                    <div class="row2">
                        <div class="column2">
                            CS Difference 0-10:
                        </div>

                        <div class="column2">
                            {{P2csdiff10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            CS Difference 10-20:
                        </div>

                        <div class="column2">
                            {{P2csdiff20}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Difference 0-10:
                        </div>

                        <div class="column2">
                            {{P2xpdiffpermin10}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            XP Difference 10-20:
                        </div>

                        <div class="column2">
                            {{P2xpdiffpermin20}}

                        </div>
                    </div>

                    <hr>
                    <br>
                    <br>
                    <h4 style='font-weight: bold'>Style Points:</h4>
                    <hr>
                    <div class="row2">
                        <div class="column2">
                            Average Killing Spree:
                        </div>

                        <div class="column2">
                            {{P2killingspree}}

                        </div>
                    </div>
                    <div class="row2">
                        <div class="column2">
                            Average Multikill:
                        </div>

                        <div class="column2">
                            {{P2multikill}}

                        </div>
                    </div>




                </div>
            </div>
        </mat-tab>





















        <mat-tab label="Details">

            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Laning">
                    <h5>CS Per Min 0-10: {{P2creepspermin10}}</h5>
                </mat-tab>
                <mat-tab label="Second">Content 2</mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group>
            <h1>WORK IN PROGRESS</h1>
            <h1>WORK IN PROGRESS</h1>
            <h1>WORK IN PROGRESS</h1>
            <h1>WORK IN PROGRESS</h1>
            <h1>WORK IN PROGRESS</h1>
            <h1>WORK IN PROGRESS</h1>




        </mat-tab>

    </mat-tab-group>
</div>